<div class="conteudo">
    <div id="ini" *ngIf = "this.srv.numpecas===44">
        <h1>
            Bem Vindo ao jogo Resta 1
        </h1>
    </div>
    <div *ngIf = "this.srv.numpecas != 44">
        <h1>
            Restam&#160;:&#160; {{this.srv.numpecas}}&#160;pe&ccedil;as
        </h1>
    </div>

    <div *ngIf= "this.srv.terminou">
        <h1>Parab&eacute;ns, voc&ecirc; terminou com sucesso!</h1>
    </div>
    <div *ngIf="this.srv.terminou && this.srv.numpecas > this.srv.melhor">
      <h2>  
        Existe uma partida gravada nesse navegador 
        restando apenas {{this.srv.melhor}} pe&ccedil;as
       </h2>
    </div>

</div>
